AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
APP_BASE_URL='http://localhost:3000'
AUTH0_DOMAIN='https://domain.com'
AUTH0_CLIENT_ID='34r3f3ok33mfok34pofk43fpo34'
AUTH0_CLIENT_SECRET='34f3opkk34pok4jkk43fpo43ikpo4i3fkpor3jvfdnvjkeveklrfje'